// scss-lint:disable VendorPrefix
// Media Queries
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

//** CLEARFIX *********************/
@mixin clearfix {
    &:after { // modified to be single-colon for IE8 compatibility
        clear: both;
        content: '';
        display: table;
    }
}

//** TRUNCATE *********************/
@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//** FULLSCREEN *********************/
@mixin absolute-full($size) {
    position: absolute;
    top: $size;
    right: $size;
    bottom: $size;
    left: $size;
}
