$white:         #ffffff;
$gray1:         #d0d0d0;
$gray2:         #cccccc;
$gray3:         #606163;
$black:         #2c2c2c;
$blue1:         #0084d9;
$blue2:         #00527a;

// responsive stuff
$break1:        1024px;
